.nav-tabs
{
  margin:40px;
}
.card-header
{
  height:50px;
  font-size:20px;
}
.fa-edit,.fa-plus
{
  float:right;
  margin-left:10px;
}
.fa-trash
{
  float:right;
}

#oldm,#newm,#newconm,#message
{
  color:red;
}
.profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url(example.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
